<header class="site-header">
  <div class="wrapper">
    <div class="left">
      <h1>
        <a class="site-title" href="{{ config.base_url }}/">
          {{ config.title }}
        </a>
      </h1>
      <p class="byline">
        {{ config.description }}
      </p>
      <ul class="links">
        <li><a href="/accessibility">Accessibility</a></li>
        <li><a href="/code-of-conduct">Code of Conduct</a></li>
        <li><a href="/feed.xml">Feed RSS</a></li>
      </ul>
    </div>
    <div class="right">
      <a href="{{ config.base_url }}/">
        <img src="logo.png" width="200" title="Artist's rendition (rs4rse logo)" alt="Artist's rendition (rs4rse logo)" />
      </a>
    </div>
  </div>
</header>
