{% extends "base.html" %}

{% block content %}
<div class="page-home" role="main">
  <section class="next-meetup">
    <p class="section-headline">Next Event</p>
    <article class="event is-next-meetup">
    </article>

    <h1>
      We are currently planning our next meetup!
    </h1>
    <p>
      <a href="{{ config.extra.feedback_url }}">
        Help us!
      </a>
    </p>
  </section>

  <section class="future-meetups">
    <p class="section-headline">Upcoming Events</p>
  </section>

  <section class="prev-meetup">
    <p class="section-headline">Previous Events</p>
  </section>
</div>
{% endblock content %}
